<html lang='en'></html>
{{!-- HEADER --}}
{{>header}}
	<body>
		{{!-- NAVBAR --}}
		{{>navbar}}

		{{!-- BODY --}}
		<div class="container">
			{{{body}}}
		</div>
		{{!-- FOOTER --}}
		{{>footer}}
	</body>
</html>