<div class='w-75 mx-auto'>
	<p class='fs-1'>Add products</p>
	<form action='/add-products' method='post'>
		<div class="form-floating mb-3">
			<input type='text' class='form-control' id='title' name='title' placeholder="Title"/>
			<label for='title' class='form-label'>Title</label>
		</div>
		<div class="form-floating mb-3">
			<textarea class="form-control" placeholder="Description" id="description" name="description" style="height: 100px"></textarea>
			<label for="floatingTextarea2">Description</label>
		</div>
        <div class="form-floating mb-3">
			<input type='text' class='form-control' id='image' name='image' placeholder="Image"/>
			<label for='image' class='form-label'>Image</label>
		</div>
        <div class="input-group mb-3">
            <span class="input-group-text bg-light">$</span>
            <div class="form-floating">
                <input type="number" class="form-control" id="price" name="price" placeholder="Price">
                <label for="price">Price</label>
            </div>
        </div>
		<button type='submit' class='btn btn-primary mt-3'>Add products</button>
	</form>
</div>