<div class='w-75 mx-auto'>
	<p class='fs-1'>Login</p>
	<div class='mb-3'>
		{{#if loginError}}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong> {{loginError}}.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{{/if}}
	</div>
	<form action='/login' method='post'>
		<div class="form-floating mb-3">
			<input type='email' class='form-control' id='email' name='email' placeholder="name@example.com"/>
			<label for='email' class='form-label'>Email address</label>
		</div>
		<div class='mb-3'>
			<label for='password' class='form-label'>Password</label>
			<input type='password' class='form-control' id='password' name='password' />
		</div>
		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
</div>